html {
  font-family: 'Archivo Black';
  font-size: 22px;
  line-height: normal;
  background: #212121;
  color: #FFFFFF;
}

body {
  align-items: center;
  height: 100vh;
}

li {
  display: table-cell;
  position: relative;

} 

.header-container{
  font: bold 14px/1.4 'Inter';
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-container ul {
  padding-left: 0;
  text-align: center;
  backdrop-filter: blur(8px);
  z-index: 999;
}

.nav-menu li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:hover:after {
  width: 100%;
  left: 0;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #F35945;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.landing-section {
  display: flex;
  margin: 10% 10% 0 10% 
}
.landing-section-text{
  display: flex;
  flex-direction: column;
  width: 58%;
}
.landing-section-text{
  font-family: 'Archivo Black';
  color: #FFFFFF;
}

#landing-name{
  margin: 0;
  font-size: 8.5vw;
}

#landing-info {
  margin: 0;
  font-size: 4.65vw;
  color: #CCCCCC
}

.landing-img-holder{
  position: relative;
  display: flex;
  width: 30%;
}
.landing-img-holder img{
  position: relative;
  transform: translateX(-4.4vw);
  max-height: 25vw;
 
}

.landing-stats {
  align-items: center;
  width: 25%;
}

.landing-stats p{
  font-size: 2.0vw;
}

.landing-stats span{
  font-size: 2.0vw;
  color: #CCCCCC;
}
