html {
  font-family: 'Archivo Black';font-size: 22px;
  background: #333333;
}

body {
  align-items: center;
  height: 100vh;
}


li {
  display: table-cell;
  position: relative;

}

.header-container{
  font: bold 14px/1.4 'Inter';
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-container ul {
  padding-left: 0;
  text-align: center;
  backdrop-filter: blur(8px);
  z-index: 999;
}

.nav-menu li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:hover:after {
  width: 100%;
  left: 0;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #F35945;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}



