html {
    font-family: 'Archivo Black', sans-serif;
    font-size: 22px;
    line-height: normal;
    background: #212121;
    color: #FFFFFF;
    overflow-x: hidden;
  }
  
  body {
    align-items: center;
    height: 200vh;
  }
  
  li {
    display: table-cell;
    position: relative;
    cursor: pointer;
  }
  
  .header-container {
    display: flex;
    top: 0;
    height: 70px;
    font: bold 14px/1.4 'Inter', sans-serif;
    z-index: 9999 !important;
    position: fixed;
    backdrop-filter: blur(8px);
    justify-content: center;
    width: 100%;
  }
  
  .header-container ul {
    position: inherit;
    padding-left: 0;
    text-align: center;
    z-index: 999;
    backdrop-filter: blur(8px);
  }
  
  .nav-menu li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  
  .header-container a:hover:after {
    width: 100%;
    left: 0;
  }
  
  .header-container a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #F35945;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .landing-section {
    display: flex;
    margin: 25vh 10vw 24vh 10vw;
  }
  
  .landing-section-text {
    display: flex;
    flex-direction: column;
    width: 58%;
    font-family: 'Archivo Black', sans-serif;
    color: #FFFFFF;
  }
  
  #landing-name {
    margin: 0;
    font-weight: unset;
    font-size: 8.5vw;
  }
  
  #landing-info {
    margin: 0;
    font-size: 4.65vw;
    color: #CCCCCC;
  }
  
  .landing-img-holder {
    position: relative;
    display: flex;
    width: 30%;
  }
  
  .landing-img-holder img {
    position: relative;
    transform: translateX(-4.4vw);
    max-height: 25vw;
  }
  
  .landing-stats {
    align-items: center;
    width: 25%;
  }
  
  .landing-stats p {
    font-size: 2.0vw;
  }
  
  .landing-stats span {
    font-size: 2.0vw;
    color: #CCCCCC;
  }
  
  .connect-links ul {
    display: flex;
    padding: 0;
  }

  .connect-links ul li {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5.5px;
    margin-right: 1vw;
    font-size: 0;
    height: 2.5vw;
    width: 2.5vw;
    background-color: #F35945;
}

.connect-links ul li:nth-child(1) a {
    background: url("/HabeebAlao.github.io/ASSETS/images/githubLogo.png");
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.connect-links ul li:nth-child(2) a {
    background: url("/HabeebAlao.github.io/ASSETS/images/linkedinLogo.png");
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.connect-links ul li:nth-child(3) a {
    background: url("/HabeebAlao.github.io/ASSETS/images/mailLogo.png");
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about-me {
    display: flex;
    width: 100%;
    margin-top: 0vh;
    margin-bottom: 0vh;
    align-items: center;
    flex-direction: column;
}

h3 {
    font-size: 4.65vw;
    font-weight: normal;
}

.about-me-content {
    display: flex;
    flex-direction: row;
    margin: 0vh 10vw 25vh 10vw;
}

.about-me-desc {
    width: 70%;
    color: #CCCCCC;
    text-align: center;
}

.about-me-desc span {
    color: #F35945;
}

.about-side-menu {
    width: 30%;
}

.about-side-menu ul {
    border-left: 9px solid #CCCCCC;
    display: flex;
    margin-left: 50px;
    flex-direction: column;
}

.about-side-menu ul li {
    padding: 15px 0px 15px 00px;
    color: #CCCCCC;
    width: 100%;
}

#about>div>div>div>ul>li.active {
    color: #fff;
    margin-left: 0px;
    border-left: 9px solid #F35945;
    padding: 15px 11px 15px 0px;
    background-color: #F35945;
    width: min-content;
}

#back-to-top-btn {
    cursor: pointer;
    color: #fff;
    background-color: #F35945;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px;
}

.my-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 10vh;
    width: 100%;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.project-explaination {
    padding: 0 10vh 0 10vh;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.project-demo-holder {
    display: flex;
    width: 50%;
    height: 495px;
    background: #fff;
    border-radius: 10px;
    background-repeat: none;
    background-size: cover;
    background: url("/HabeebAlao.github.io/ASSETS/images/studyStudio.png");
}

.project-descrption span {
    color: #F35945;
}

.project h4 {
    font-size: 6vh;
}

.contact-me {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#connect_2{
    display: none;
}
.footer {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.connect-with-me {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5.5px;
    margin-right: 1vw;
    font-size: 0;
    height: 2.5vw;
    width: 2.5vw;
    background-color: #F35945;
}

.connect-with-me-1 a:nth-child(1) {
    background: url("/HabeebAlao.github.io/ASSETS/images/mailLogo.png");
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.connect-with-me-2 a:nth-child(1) {
    background: url("/HabeebAlao.github.io/ASSETS/images/linkedinLogo.png");
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#iframe-container {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  #iframe-container iframe {
    width: 100%;
    border: none;
    
  }
  

  #see-more-btn{
    background-color: #F35945;
    border: none;
    width: 20vw;
    height: 7vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    text-align: center;
  }

  #see-more-btn :hover{
    background-color: #F35945;
    border: none;
    
  }

  @media screen and (max-width: 1286px) {
    .landing-section {
        display: flex;
        margin: 25vh 10vw 16vh 10vw;
    }

    .about-me {
        margin-bottom: -12vh;
    }

    .project-demo-holder {
        height: 342px;
    }

    .about-me-content {
        display: flex;
        flex-direction: column-reverse;
        margin: 0vh 10vw 25vh 10vw;
    }

    .about-side-menu ul {
        border-left: 9px solid #CCCCCC;
        display: flex;
        margin: 0 122px;
        flex-direction: row;
        justify-content: center;
    }

    .about-me-desc {
        width: 100%;
        color: #CCCCCC;
        text-align: center;
    }

    .about-side-menu {
        width: 100%;
    }

    .about-side-menu ul li {
        color: transparent;
        color: #CCCCCC;
        width: 90px;
        height: 90px;
        padding: 0;
        text-align: center;
        font-size: 0px;
        margin: 0 20px;
    }

    #about>div>div>div>ul>li.active {
        color: #fff;
        margin-left: 0px;
        border-left: 0px;
        padding: 0px;
        background-color: #F35945;
        width: 90px;
        height: 90px;
        margin: 0 20px;
    }

    .about-side-menu ul li:nth-child(1){
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        background-image: url("/HabeebAlao.github.io/ASSETS/images/icon_book.png")
    }

    .about-side-menu ul li:nth-child(2){
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        background-image: url("/HabeebAlao.github.io/ASSETS/images/icon_suitcase.png")
    }

    .about-side-menu ul li:nth-child(3){
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        background-image: url("/HabeebAlao.github.io/ASSETS/images/icon_monitor.png")
    }

    .about-side-menu ul li:nth-child(4){
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        background-image: url("/HabeebAlao.github.io/ASSETS/images/icon_smiley.png")
    }

    .about-side-menu ul li:nth-child(5){
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        background-image: url("/HabeebAlao.github.io/ASSETS/images/icon_medal.png")
    }


}

@media screen and (max-width: 970px) {
    .about-me-content {
        display: flex;
        flex-direction: column-reverse;
        margin: 0vh 10vw 25vh 10vw;
    }

    .about-side-menu ul {
        border-left: 9px solid #CCCCCC;
        display: flex;
        margin: 0 0 5vw 0;
        flex-direction: row;
        justify-content: center;
    }

    .about-me-desc {
        width: 100%;
        color: #CCCCCC;
        text-align: center;
    }

    .about-side-menu {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-side-menu ul li {
        color: transparent;
        color: #CCCCCC;
        width: 58px;
        height: 58px;
        padding: 0;
        text-align: center;
        font-size: 0px;
        margin: 0 20px;
    }

    #about>div>div>div>ul>li.active {
        color: #fff;
        margin-left: 0px;
        border-left: 0px;
        padding: 0px;
        background-color: #F35945;
        width: 58px;
        height: 58px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 790px) {
    .about-side-menu ul li {
        color: transparent;
        color: #CCCCCC;
        width: 38px;
        height: 58px;
        padding: 0;
        text-align: center;
        font-size: 0px;
        margin: 0 20px;
    }

    #about>div>div>div>ul>li.active {
        color: #fff;
        margin-left: 0px;
        border-left: 0px;
        padding: 0px;
        background-color: #F35945;
        width: 58px;
        height: 58px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 699px) {
    .about-side-menu ul li {
        color: transparent;
        color: #CCCCCC;
        width: 38px;
        height: 58px;
        text-align: center;
        font-size: 0px;
        padding: 0 10px;
        margin: 7px;
    }

    #about>div>div>div>ul>li.active {
        color: #fff;
        margin-left: 0px;
        border-left: 0px;
        padding: 0px;
        background-color: #F35945;
        width: 58px;
        height: 58px;
        margin: 7px;
    }
}


@media screen and (max-width: 500px) {
    .about-side-menu ul li {
        color: transparent;
        color: #CCCCCC;
        width: 48px;
        height: 48px;
        text-align: center;
        font-size: 0px;
        padding: 0;
        margin: 7px;
    }

    #about>div>div>div>ul>li.active {
        color: #fff;
        margin-left: 0px;
        border-left: 0px;
        padding: 0px;
        background-color: #F35945;
        width: 48px;
        height: 48px;
        margin: 7px;
    }

    .about-me-desc {
        width: 100%;
        font-size: 12px;
    }
}


@media screen and (max-width: 600px) {

    .landing-section {
        display: flex;
        margin: 15vh 2vw 0vh 2vw;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .landing-stats {
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .landing-stats p {
        font-size: 5.0vw;
    }
    .landing-stats span {
        font-size: 2.5vw;
    }

    .landing-img-holder {
        position: relative;
        display: flex;
        width: 20%;
    }

    #connect_1{
        display: none;
    }

    #connect_2{
        display: contents;
    }

    .landing-img-holder img {
        position: relative;
        transform: translateX(-2.4000000000000004vw);
        max-height: 68vw;
        margin-top: -20px;
    }

    .landing-img-holder {
        align-items: center;
        position: relative;
        display: flex;
        width: 20%;
        flex-direction: column;
    }

    #landing-name {
        margin: 0;
        font-weight: unset;
        font-size: 55px;
    }
    #landing-info {
        margin: 0;
        font-size: 30px;
        color: #CCCCCC;
        width: 100%;
    }

    .landing-section-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: 'Archivo Black', sans-serif;
        color: #FFFFFF;
    }

    .connect-links ul li {
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 5.5px;
        margin-right: 1vw;
        font-size: 0;
        height: 5.5vw;
        width: 5.5vw;
        background-color: #F35945;
    }

   

    .header-container {
        display: flex;
        top: 0;
        height: 70px;
        font: bold 14px/1.4 'Inter', sans-serif;
        z-index: 9999 !important;
        position: fixed;
        backdrop-filter: blur(8px);
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .project {
        display: flex;
        align-items: center;
        margin-bottom: 10vh;
        width: 100%;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
    }

    .project h4 {
        font-size: 2vh;
    }

    .project-descrption{
        font-size: 15px;
        padding: 0 30px;
    }

    .project-explaination {
        padding: 0vw;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .project-demo-holder {
        display: flex;
        width: 80%;
        height: 495px;
        background: #fff;
        border-radius: 10px;
        background-repeat: none;
        background-size: cover;
        background: url("/HabeebAlao.github.io/ASSETS/images/studyStudio.png");
    }

    .project-demo-holder {
        height: 187px;
    }

    .proj-2{
        flex-direction: column;
    }
    #see-more-btn {
        background-color: #F35945;
        border: none;
        width: 70vw;
        height: 10vw;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 12px;
    }

    .contact-me h2 {
        font-size: 19px;
    }

    .footer h2{
        font-size: 10px;
    }

    .connect-with-me {
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 5.5px;
        margin-right: 1vw;
        font-size: 0;
        height: 5.0vw;
        width: 5.0vw;
        background-color: #F35945;
    }

    iframe {
    transform: scale(0);
    }

    .demo-1{
        background-size: contain ;
        background-color: #fff;
        background-repeat: no-repeat;
        background-image: url("/HabeebAlao.github.io/ASSETS/images/trackify-demo.png");
    }

    .demo-2{
        background-size: contain ;
        background-color: #fff;
        background-repeat: no-repeat;
        background-image: url("/HabeebAlao.github.io/ASSETS/images/luxo-demo.png");
    }
      
    .section-heading-h{
        font-size: 29px;
    }

    #about{
        padding-top: 78px;
    }

    .about-me-content {
        display: flex;
        flex-direction: column-reverse;
        margin: 0vh 10vw 0vh 10vw;
    }

    #portfolio{
        margin-top: 102px;
        padding-top: 78px;
    }
      
}

